.container{
    display:flex;
    margin: 0;
}
body{
    background-color:rgb(49, 48, 48) ;
}
.numero{
    margin: 0;
    margin-top: 0px ;
    margin-left: 8px;
    margin-bottom: 8px;
}

.nome{
    text-align: center;
    margin: 0;
    margin-top: 5px;
}

.letra{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5%;
}
.quadrado{
    width: 80px;
    height: 80px;
    margin: 10px;
    border: 2px solid #000;
    border-radius: 20px;
}
.vazio{
    width: 80px;
    height: 80px;
    margin-top: 13px;
}

.espaco{
    margin-top: 120px;
}

.nao-metais{
    background-color: #7fff57;
}
.metais-alcalinos{
    background-color: #eb9c09;
}
.metais-alcalinos-terrosos{
    background-color: #ebdc09;
}

.gases-nobres{
    background-color: #2a78ec;
}

.semimetais{
    background-color: #208eaf;
}

.Halogênios{
    background-color: rgb(5, 184, 255);
}

.outros-metais{
    background-color: #99bac9;
}

.metais-de-transição{
    background-color: #f7879f;
}

.lantanideos{
    background-color: #34ece3;
}

.Actinídios{
    background-color: #e093c3;
}